{% load static %}
{% include 'header.html' %}
<main class="main-content">
   <div class="main-container">
     
      <section class="section" id="home">
           <h1 style="text-align: center;"><img src="{% static 'images/image9.png' %}" alt=""></h1>
           <table  width="100%" height="150">
            <tr>
                <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/1707/3445/files/Ice_Blast_Collection_copy_b9be86fb-52b4-4540-bc05-65e5005cb078.webp?v=1718279222" alt="" height="200"></a></td>
                <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/1707/3445/files/De-Tan_Neon_2_copy.webp?v=1718276506" alt="" height="200"></a></td>
                <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/1707/3445/files/charcoal_line_copy.webp?v=1718276506" alt="" height="200"></a></td>
                <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/1707/3445/files/Acne_copy.webp?v=1718276506" alt="" height="200"></a></td>
                <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/1707/3445/files/gift_-2_copy.webp?v=1718276506" alt="" height="200"></a></td>
                <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/1707/3445/files/Trimmer_copy.webp?v=1718276506" alt="" height="200"></a></td>
                <td> <a href=""><img src="https://cdn.shopify.com/s/files/1/1707/3445/files/Intimate_copy.webp?v=1718276506" alt="" height="200"></a></td>
            </tr>
         </table>   
        
        <section class="section" id="products">
           
           <div class="products">
               <div class="product">
                   <img src="{% static 'images/image1.png' %}" alt="Product 1" />
                   <h4 style="text-align: center;">Ice Blast</h4>
                   <table  width="100%" height="250">
                  
                        
                        
                    <tr>
                        <td> <a href=""><img src="https://www.darimooch.com/cdn/shop/files/Bundle_17.webp?v=1718353117&width=540" alt="" height="400"></a></td>
                        <td> <a href=""><img src="https://www.darimooch.com/cdn/shop/files/Bundle_16.webp?v=1718352475&width=540" alt="" height="400"></a></td>
                        <td> <a href=""><img src="https://www.darimooch.com/cdn/shop/files/Bundle2.webp?v=1713521392&width=540" alt="" height="400"></a></td>
                        
                    </tr>
                    <tr>
                        <td><p> <a href="">Atdd to cart</a></p></td>
                        <td><p> <a href="">Atdd to cart</a></p></td>
                        <td><p> <a href="">Atdd to cart</a></p></td>
                    </tr>
                    <tr>
                        <td><a href=""><p>Summer Go-To Bundle</p></a></td>
                        <td><a href=""><p>Summer Chill Bundle</p></a></td>
                        <td><a href=""><p>Ice Blast Bundle</p></a></td>
                    </tr>
                    <tr>
                        <td><a href="">Rs2,796.00</a></td>
                        <td><a href="">Rs2,599.00</a></td>
                        <td><a href="">Rs1,399.00</a></td>
                    </tr>
                  
                 </table>
                 <h4 style="text-align: center;">Summer Skin Saviour</h4>
                   <table  width="100%" height="250">
                  
                        
                        
                    <tr>
                        <td> <a href=""><img src="https://www.darimooch.com/cdn/shop/files/Charcoal-Monthly-Bundle-Lip-Balm.jpg?v=1685688015&width=540" alt="" height="400"></a></td>
                        <td> <a href=""><img src="https://www.darimooch.com/cdn/shop/files/Ultimate-Bundle.jpg?v=1685688242&width=540" alt="" height="400"></a></td>
                        <td> <a href=""><img src="https://www.darimooch.com/cdn/shop/products/Facewash-Face-Scrub.jpg?v=1676895079&width=540" alt="" height="400"></a></td>
                        
                    </tr>
                    <tr>
                        <td><p> <a href="">Atdd to cart</a></p></td>
                        <td><p> <a href="">Atdd to cart</a></p></td>
                        <td><p> <a href="">Atdd to cart</a></p></td>
                    </tr>
                    <tr>
                        <td><a href=""><p>Bundle: Charcoal Monthly Bundle + Lip Balm</p></a></td>
                        <td><a href=""><p>The Ultimate Bundle </p></a></td>
                        <td><a href=""><p>Charcoal Facewash + Charcoal Scrub
                        </p></a></td>
                    </tr>
                    <tr>
                        <td><a href="">Rs5,014.00</a></td>
                        <td><a href="">Rs4,914.00</a></td>
                        <td><a href="">Rs1,398.00</a></td>
                    </tr>
                  
                 </table>
               </div>
            

</main>
{% include 'footer.html' %} 
